/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar {
    height: 4rem;
  }

  .navbar .Logo {
    width: 5rem;
    margin-left: 6rem;
  }

  .nav-item a {
    font-size: 0.9rem;
  }

  .navbar .url {
    margin-top: 0.5rem;
  }

  .item {
    margin-right: 1.25rem;
  }

  .EnglishItem {
    margin-right: 10.8rem;
  }

  .navbar button,
  .navbar button:hover {
    margin-top: 0.4rem;
    height: 2.25rem;
    width: 5.5rem;
    border-radius: 20px;
    font-size: 0.9rem;
    padding: 0rem;
    border-width: 0.1rem !important;
    padding-top: 0.25rem;
  }

  .navbar .LoginButton {
    right: 8.2rem;
  }

  .navbar .SignUpButton {
    right: 6.6rem;
  }

  .intro {
    height: 74rem;
  }

  .intro h1 {
    top: 6.5rem;
    left: 7.75rem;
    width: 50vw;
    line-height: 3.75rem;
    font-size: 2.8rem;
  }

  .intro h2 {
    top: 8rem;
    left: 7.75rem;
    width: 60vw;
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .intro button,
  .intro button:hover {
    top: 15rem;
    height: 4rem;
    border-radius: 20px;
    font-size: 1rem;
  }

  .intro button:nth-child(3) {
    width: 13rem;
    top: 11rem;
    left: 7.75rem;
  }

  .intro .secondBr {
    display: none;
  }

  .intro .FirstIllustration {
    width: 50vw;
    top: 35rem;
    left: 25vw;
    pointer-events: none;
  }

  .intro .WatchNowButton {
    width: 12rem;
    top: 11rem;
    left: 11rem;
    pointer-events: visible;
    cursor: pointer !important;
  }

  .services {
    height: 44rem;
  }

  .services .container .row:nth-child(1) {
    padding-top: 4.5rem;
  }

  .services img {
    width: 9.5rem;
  }

  .services h6 {
    padding-top: 1.5rem;
    font-size: 0.8rem;
    line-height: 1.6rem;
  }

  .services .container .row:nth-child(2) {
    height: 20rem;
  }

  .services .Logo {
    top: 8.5rem;
    left: 3rem;
    width: 11rem;
  }

  .services h2 {
    top: 10.5rem;
    right: -5rem;
    font-size: 1.5rem;
    width: 25rem;
    line-height: 2rem;
  }

  .services p {
    top: 10.5rem;
    left: 10rem;
    width: 20rem;
  }

  .process {
    padding-top: 5rem;
  }

  .process .imgBox {
    min-height: 31rem;
  }

  .process .SeconIllustration {
    left: 25vw;
    width: 50vw;
  }

  .process .h1Box {
    height: 6rem;
  }

  .process h1 {
    left: 8rem;
    font-size: 1.75rem;
    width: 38rem;
  }

  .process h2 {
    top: 4rem;
    left: 8rem;
    font-size: 1.1rem;
    width: 30rem;
  }

  .process .row:nth-child(2),
  .process .row:nth-child(3),
  .process .row:nth-child(4) {
    height: 7rem;
  }

  .process .icon {
    margin-top: 2.5rem;
    left: 6.25rem;
    width: 6.5rem;
  }

  .process h3 {
    left: 12rem;
    margin-top: 2.75rem;
    font-size: 1rem;
  }

  .process .row:nth-child(1) p {
    width: 60vw;
    left: 12rem;
    margin-top: 4.5rem;
    font-size: 0.8rem;
    line-height: 1.75;
  }

  .process .contactUs p {
    margin: 0.25rem;
    margin-left: 5vw;
    padding-top: 3.5rem;
    width: 90vw;
    font-size: 0.8rem;
    text-align: center;
  }

  .process .contactUs p br {
    display: none;
  }

  .pricing .h1Box {
    margin-top: 6rem;
    height: 3rem;
  }

  .pricing .h1Box h1 {
    left: 1rem;
    font-size: 2.25rem;
  }

  .pricing .container .row:nth-child(2) .col-lg:nth-child(1) {
    margin-top: 1.75rem;
    height: 3rem;
  }

  .pricing .container .row:nth-child(2) .col-lg:nth-child(1) p {
    text-align: justify;
  }

  .pricing .container .row:nth-child(2) .col-lg:nth-child(2) {
    margin-top: 1.2rem;
    height: 3rem;
  }

  .pricing
    .container
    .row:nth-child(2)
    .col-lg:nth-child(2)
    button:nth-child(1) {
    position: absolute;
    top: 0.25rem;
    left: 7.5rem;
    width: 7.5rem;
    font-size: 0.85rem;
  }

  .pricing
    .container
    .row:nth-child(2)
    .col-lg:nth-child(2)
    button:nth-child(2) {
    position: absolute;
    top: 0.25rem;
    left: 17.5rem;
    width: 7.5rem;
    font-size: 0.85rem;
  }

  .pricing .card {
    width: 22rem;
    background-color: transparent;
    border: 0rem;
  }

  .banner {
    margin-top: 5rem;
    margin-bottom: 4rem;
  }

  .banner .box {
    height: 30rem;
  }

  .banner h2 {
    top: 4rem;
    left: 6.75rem;
    width: 28rem;
    font-size: 1.8rem;
  }

  .banner h3 {
    top: 5rem;
    font-size: 1rem;
    left: 6.75rem;
  }

  .banner .AdobeStockIcon,
  .banner .ShutterStockIcon {
    top: 2rem;
    left: 6.75rem;
    width: 15rem;
  }

  .banner .ShutterStockIcon {
    top: 0rem;
  }

  .footer {
    height: 20rem;
  }

  .footer .Logo {
    float: left;
    width: 11rem;
    margin-left: 6.25rem;
    margin-top: 5rem;
  }

  .footer p {
    font-size: 1.1rem;
  }

  .footer .description {
    float: left;
    text-align: left;
    margin-left: 2rem;
    margin-top: 7.75rem;
    font-size: 0.8rem;
  }

  .footer .policy {
    float: right;
    text-align: right;
    margin-right: 3rem;
    margin-top: 8.75rem;
    font-size: 1rem;
    font-family: Spartan-Semi-Bold;
  }

  .footer .SocialMedia img {
    float: left;
    width: 3rem;
    margin-left: 1.5rem;
    margin-top: 7rem;
  }
}
