/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar .Logo {
    width: 5rem;
  }

  .nav-item {
    margin-left: 1rem;
  }

  .nav-item a {
    font-size: 0.9rem;
  }

  .navbar .LoginButton,
  .SignUpButton {
    display: none;
  }

  .intro {
    height: 62rem;
  }

  .intro h1 {
    top: 6.5rem;
    left: 7.75rem;
    width: 50vw;
    line-height: 3.75rem;
    font-size: 2.5rem;
  }

  .intro h2 {
    top: 8rem;
    left: 7.75rem;
    width: 60vw;
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .intro button,
  .intro button:hover {
    top: 15rem;
    height: 4rem;
    border-radius: 20px;
    font-size: 1rem;
  }

  .intro button:nth-child(3) {
    width: 13rem;
    top: 11rem;
    left: 7.75rem;
  }

  .intro .secondBr {
    display: none;
  }

  .intro .FirstIllustration {
    width: 50vw;
    top: 35rem;
    left: 25vw;
    pointer-events: none;
  }

  .intro .WatchNowButton {
    width: 12rem;
    top: 11rem;
    left: 11rem;
    pointer-events: visible;
    cursor: pointer !important;
  }

  .services {
    height: 100rem;
  }

  .services .container {
    min-width: 100%;
  }

  .services img {
    padding-top: 4rem;
    width: 7.5rem;
  }

  .services h6 {
    padding-top: 3rem;
    font-size: 1rem;
    line-height: 2rem;
  }

  .services .container .row:nth-child(2) {
    height: 30rem;
  }

  .services .Logo {
    top: 4rem;
    left: 1.75rem;
    width: 6rem;
  }

  .services h2 {
    top: 8.5rem;
    right: 6vw;
    font-size: 1.25rem;
    width: 17rem;
    line-height: 1.75rem;
  }

  .services p {
    top: 1.5rem;
    width: 90vw;
    font-size: 1rem;
    text-align: center;
  }

  .process {
    padding-top: 5rem;
  }

  .process .imgBox {
    min-height: 31rem;
  }

  .process .SeconIllustration {
    left: 25vw;
    width: 50vw;
  }

  .process .h1Box {
    height: 6rem;
  }

  .process h1 {
    left: 8rem;
    font-size: 1.75rem;
    width: 38rem;
  }

  .process h2 {
    top: 4rem;
    left: 8rem;
    font-size: 1.1rem;
    width: 30rem;
  }

  .process .row:nth-child(2),
  .process .row:nth-child(3),
  .process .row:nth-child(4) {
    height: 7rem;
  }

  .process .icon {
    margin-top: 2.5rem;
    left: 6.25rem;
    width: 6.5rem;
  }

  .process h3 {
    left: 12rem;
    margin-top: 2.75rem;
    font-size: 1rem;
  }

  .process .row:nth-child(1) p {
    width: 60vw;
    left: 12rem;
    margin-top: 4.5rem;
    font-size: 0.8rem;
    line-height: 1.75;
  }

  .process .contactUs p {
    margin: 0.25rem;
    margin-left: 5vw;
    padding-top: 3.5rem;
    width: 90vw;
    font-size: 0.8rem;
    text-align: center;
  }

  .process .contactUs p br {
    display: none;
  }

  .pricing .h1Box {
    margin-top: 3rem;
    min-height: 2.5rem;
  }

  .pricing .container .row:nth-child(1) h1 {
    left: 2rem;
    font-size: 1.5rem;
  }

  .pricing .container .row:nth-child(2) .col-lg:nth-child(1) {
    height: 4.5rem;
  }

  .pricing .container .row:nth-child(2) .col-lg:nth-child(1) p {
    text-align: left;
    font-size: medium;
    margin-left: 1rem;
    font-size: 0.9rem;
  }

  .pricing .container .row:nth-child(2) .col-lg:nth-child(2) {
    height: 3.5rem;
  }

  .pricing
    .container
    .row:nth-child(2)
    .col-lg:nth-child(2)
    button:nth-child(1) {
    font-size: 0.8rem;
    width: 8rem;
  }

  .pricing
    .container
    .row:nth-child(2)
    .col-lg:nth-child(2)
    button:nth-child(2) {
    font-size: 0.8rem;
    width: 8rem;
  }

  .pricing .card {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    height: 30rem;
  }

  .pricing .card h1 {
    top: 2.75rem;
    left: 2rem;
    font-size: 1rem;
  }

  .pricing .card span {
    font-size: 2rem;
  }

  .pricing .card h2 {
    top: 6.75rem;
    left: 2rem;
    font-size: 1.6rem;
  }

  .pricing .card p {
    top: 10rem;
    left: 2rem;
    width: 10rem;
    text-align: justify;
    font-size: 1.1rem;
  }

  .pricing .card .checkBox {
    float: left;
    top: 11.5rem;
    left: 0.75rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }

  .pricing .card .checkBox img {
    width: 1.3rem;
  }

  .banner {
    margin-top: 5rem;
    margin-bottom: 4rem;
  }

  .banner .box {
    height: 30rem;
  }

  .banner h2 {
    top: 4rem;
    left: 6.75rem;
    width: 28rem;
    font-size: 1.8rem;
  }

  .banner h3 {
    top: 5rem;
    font-size: 1rem;
    left: 6.75rem;
  }

  .banner .AdobeStockIcon,
  .banner .ShutterStockIcon {
    top: 2rem;
    left: 6.75rem;
    width: 15rem;
  }

  .banner .ShutterStockIcon {
    top: 0rem;
  }

  .footer {
    height: 26rem;
  }

  .footer .Logo {
    float: left;
    width: 6rem;
    margin-left: 1.25rem;
  }

  .footer p {
    font-size: 1rem;
  }

  .footer p br {
    display: none;
  }

  .footer .description {
    float: left;
    text-align: left;
    margin-left: 1.25rem;
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }

  .footer .policy {
    float: left;
    text-align: left;
    margin-left: 1.25rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    font-family: Spartan-Semi-Bold;
  }

  .footer .SocialMedia img {
    float: left;
    width: 3rem;
    margin-left: 1.25rem;
    margin-top: 0.5rem;
  }
}
