/* Small devices (landscape phones, less than 768px) */
@media (min-width: 500px) and (max-width: 767.98px) {
  .navbar .Logo {
    width: 5rem;
  }

  .nav-item {
    margin-left: 1rem;
  }

  .nav-item a {
    font-size: 0.9rem;
  }

  .navbar .LoginButton,
  .SignUpButton {
    display: none;
  }

  .intro {
    height: 57rem;
  }

  .intro h1 {
    top: 5rem;
    left: 1.75rem;
    width: 90vw;
    line-height: 3rem;
    font-size: 2rem;
  }

  .intro h2 {
    top: 6rem;
    left: 1.75rem;
    width: 80vw;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .intro h2 br {
    display: none;
  }

  .intro button,
  .intro button:hover {
    left: 1.75rem;
    border-radius: 60px;
    height: 3rem;
    font-size: 0.9rem;
    padding-top: 0.75rem;
  }

  .intro button:nth-child(3) {
    width: 11rem;
    top: 7.5rem;
  }

  .intro .WatchNowButton {
    width: 9rem;
    top: 9rem;
    left: 1.75rem;
    pointer-events: visible;
    cursor: pointer !important;
  }

  .intro .FirstIllustration {
    width: 70vw;
    top: 29rem;
    left: 15vw;
    pointer-events: none;
  }

  .services {
    height: 100rem;
  }

  .services .container {
    min-width: 100%;
  }

  .services img {
    padding-top: 4rem;
    width: 7.5rem;
  }

  .services h6 {
    padding-top: 3rem;
    font-size: 1rem;
    line-height: 2rem;
  }

  .services .container .row:nth-child(2) {
    height: 30rem;
  }

  .services .Logo {
    top: 4rem;
    left: 1.75rem;
    width: 6rem;
  }

  .services h2 {
    top: 8.5rem;
    right: 6vw;
    font-size: 1.25rem;
    width: 17rem;
    line-height: 1.75rem;
  }

  .services p {
    top: 1.5rem;
    width: 90vw;
    font-size: 1rem;
    text-align: center;
  }

  .process {
    padding-top: 4rem;
  }

  .process .imgBox {
    min-height: 18rem;
  }

  .process .SeconIllustration {
    width: 80vw;
    left: 17.5vw;
  }

  .process .h1Box {
    height: 6rem;
  }

  .process h1 {
    left: 1.75rem;
    font-size: 1.5rem;
    width: 20rem;
    line-height: 1.5;
  }

  .process h2 {
    top: 5rem;
    left: 1.75rem;
    font-size: 1.25rem;
    width: 20rem;
  }

  .process .row:nth-child(2),
  .process .row:nth-child(3),
  .process .row:nth-child(4) {
    height: 8rem;
  }

  .process .icon {
    margin-top: 5rem;
    left: 0.75rem;
    width: 6rem;
  }

  .process h3 {
    left: 6.25rem;
    margin-top: 4.5rem;
    font-size: 1rem;
  }

  .process .row:nth-child(1) p {
    width: 66vw;
    left: 6.25rem;
    margin-top: 6.5rem;
    font-size: 0.8rem;
    line-height: 1.35;
  }

  .process .contactUs p {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    margin-top: 5rem;
    font-size: 0.9rem;
    text-align: center;
  }

  .process .contactUs p br {
    display: none;
  }

  .pricing .h1Box {
    margin-top: 3rem;
    min-height: 2.5rem;
  }

  .pricing .container .row:nth-child(1) h1 {
    left: 2rem;
    font-size: 1.5rem;
  }

  .pricing .container .row:nth-child(2) .col-lg:nth-child(1) {
    height: 4.5rem;
  }

  .pricing .container .row:nth-child(2) .col-lg:nth-child(1) p {
    text-align: justify;
    font-size: medium;
    margin-left: 0.5rem;
    width: 85vw;
    font-size: 0.9rem;
  }

  .pricing .container .row:nth-child(2) .col-lg:nth-child(2) {
    height: 3rem;
  }

  .pricing
    .container
    .row:nth-child(2)
    .col-lg:nth-child(2)
    button:nth-child(1) {
    font-size: 0.8rem;
    width: 8rem;
  }

  .pricing
    .container
    .row:nth-child(2)
    .col-lg:nth-child(2)
    button:nth-child(2) {
    font-size: 0.8rem;
    width: 8rem;
  }

  .pricing .card {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    height: 30rem;
    background-color: transparent;
    border: 0rem;
  }

  .banner {
    margin-top: 5rem;
    margin-bottom: 4rem;
  }

  .banner .box {
    height: 30rem;
  }

  .banner h2 {
    top: 4rem;
    left: 1.75rem;
    width: 28rem;
    font-size: 1.5rem;
  }

  .banner h3 {
    top: 5rem;
    font-size: 1rem;
    left: 1.75rem;
  }

  .banner .AdobeStockIcon,
  .banner .ShutterStockIcon {
    top: 2rem;
    left: 1.75rem;
    width: 12.5rem;
  }

  .banner .ShutterStockIcon {
    top: 0rem;
  }

  .footer {
    height: 26rem;
  }

  .footer .Logo {
    float: left;
    width: 6rem;
    margin-left: 1.25rem;
  }

  .footer p {
    font-size: 1rem;
  }

  .footer p br {
    display: none;
  }

  .footer .description {
    float: left;
    text-align: left;
    margin-left: 1.25rem;
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }

  .footer .policy {
    float: left;
    text-align: left;
    margin-left: 1.25rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    font-family: Spartan-Semi-Bold;
  }

  .footer .SocialMedia img {
    float: left;
    width: 3rem;
    margin-left: 1.25rem;
    margin-top: 0.5rem;
  }
}
