@font-face {
  font-family: Spartan-Regular;
  src: url("resources/Spartan-Regular.ttf");
}

@font-face {
  font-family: Spartan-Bold;
  src: url("resources/Spartan-Bold.ttf");
}

@font-face {
  font-family: Spartan-Semi-Bold;
  src: url("resources/Spartan-Semi-Bold.ttf");
}

* {
  padding: 0px;
  margin: 0px;
  font-family: Spartan-Regular;
  cursor: default;
}

html {
  scroll-behavior: smooth;
}

body {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-color: #fff6f7;
}

img {
  pointer-events: none;
}

header {
  position: relative;
}

.navbar {
  position: relative;
  width: 100vw;
  background-color: #fceced;
}

.navbar img {
  cursor: pointer;
  pointer-events: auto;
}

.nav-link,
.nav-link:hover {
  color: #484743;
  cursor: pointer;
  font-family: Spartan-Bold;
}

.navbar .LoginButton,
.navbar .LoginButton:hover {
  position: relative;
  background-color: transparent;
  color: #ff3034;
  border-color: #ff3034;
  border-style: solid;
  border-width: 0.25rem;
  font-family: Spartan-Bold;
  outline: none !important;
}

.navbar .SignUpButton,
.navbar .SignUpButton:hover {
  position: relative;
  background-color: #ff3034;
  color: #fceced;
  border-color: #ff3034;
  border-style: solid;
  border-width: 0.25rem;
  font-family: Spartan-Bold;
  outline: none !important;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(238, 237, 238)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.nav-item i {
  color: #ffffff;
  cursor: pointer;
}

.intro {
  position: relative;
  width: 100vw;
  background-color: #fff6f7;
}

.intro h1 {
  position: relative;
  color: #282828;
  font-family: Spartan-Bold;
}

.intro h1 span {
  position: relative;
  color: #ee3f44;
  font-family: Spartan-Bold;
}

.intro h2 {
  position: relative;
  color: #777777;
  font-family: Spartan-Semi-Bold;
}

.intro button,
.intro button:hover {
  position: relative;
  background-color: #f24740;
  color: #ffffff;
  font-family: Spartan-Bold;
  border-color: #f24740;
  border-style: solid;
  border-radius: 2rem !important;
}

.btn:focus {
  box-shadow: none;
}

.intro .FirstIllustration {
  position: absolute;
  float: right;
}

.WatchNowButton {
  position: relative;
}

.services {
  position: relative;
  width: 100vw;
  background-color: #fff6f7;
}

.services img {
  cursor: pointer;
}

.services h6 {
  color: #777777;
  cursor: pointer;
  font-family: Spartan-Semi-Bold;
  text-transform: uppercase;
}

.services .CupfyDarkLogo {
  position: absolute;
}

.services h2 {
  position: absolute;
  text-align: end;
  color: #282828;
  font-family: Spartan-Semi-Bold;
}

.services p {
  position: absolute;
  text-align: start;
  color: #0a2e36;
}

.process {
  position: relative;
  width: 100vw;
  background-color: #fff6f7;
}

.process .SeconIllustration {
  position: relative;
}

.process h1 {
  position: absolute;
  color: #282828;
  font-family: Spartan-Bold;
}

.process h2 {
  position: absolute;
  color: #282828;
}

.process .icon {
  position: absolute;
}

.process h3 {
  position: absolute;
  color: #282828;
  font-family: Spartan-Bold;
}

.process .row:nth-child(1) p {
  position: absolute;
  color: #101010;
}

.process .contactUs p {
  width: 100%;
  text-align: center;
  color: #0a2e36;
}

.pricing {
  position: relative;
  width: 100vw;
  background-color: #fff6f7;
}

.pricing .container {
  position: relative;
}

.pricing .container .row:nth-child(1) h1 {
  position: absolute;
  color: #0a2e36;
  font-family: Spartan-Bold;
}

.pricing .container .row:nth-child(2) .col-lg:nth-child(1) p {
  color: #848199;
}

.pricing .container .row:nth-child(2) .col-lg:nth-child(2) button:nth-child(1) {
  background-color: #14cc60;
  color: #ffffff;
  border-radius: 20px;
}

.pricing .container .row:nth-child(2) .col-lg:nth-child(2) button:nth-child(2) {
  color: #0a2e36;
  border-radius: 20px;
}

.pricing .card {
  position: relative;
  width: 18rem;
  border-radius: 20px;
  color: #848199;
  background-color: #f5f5f5;
  border: 1px solid #e7e2e2;
}

.pricing .card span {
  font-weight: 1000;
}

.pricing .card h1 {
  position: absolute;
}

.pricing .card h2 {
  position: absolute;
}

.pricing .card p {
  position: absolute;
}

.pricing .card .checkBox {
  position: relative;
}

.partners {
  display: none;
  position: relative;
  width: 100vw;
}

.partners .container {
  position: relative;
}

.partners h1 {
  position: relative;
  color: #101010;
}

.partners a {
  position: relative;
  cursor: pointer;
  text-decoration: underline !important;
  color: #101010;
}

.map {
  display: none;
  position: relative;
  width: 100vw;
  background-color: #f5f5f5;
}

.map .container {
  position: relative;
}

.map .container-fluid {
  position: relative;
}

.map h1 {
  position: absolute;
  color: #101010;
}

.banner {
  position: relative;
  width: 100vw;
  background-color: #14cc60;
}

.banner h2 {
  position: absolute;
  color: #101010;
  text-align: left;
  font-family: Spartan-Bold;
}

.banner button,
.banner button:hover {
  position: absolute;
  background-color: #0a2e36;
  color: #f5f5f5;
  font-family: Spartan-Bold;
  border-radius: 0;
}

.footer {
  position: relative;
  width: 100vw;
  background-color: #0a2e36;
  color: #ffffff;
}

.footer .privacyPolicy p {
  position: relative;
}

.footer .largerDevicesSocialMedia img {
  position: relative;
}
