/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .navbar {
    height: 4rem;
  }

  .navbar .Logo {
    width: 5rem;
    margin-left: 6rem;
  }

  .nav-item {
    margin-right: 3.6rem;
  }

  .nav-item a {
    font-size: 0.9rem;
  }

  .navbar .url {
    margin-top: 0.5rem;
  }

  .navbar button,
  .navbar button:hover {
    margin-top: 0.4rem;
    height: 2.25rem;
    width: 5.5rem;
    border-radius: 20px;
    font-size: 0.9rem;
    padding: 0rem;
    border-width: 0.1rem !important;
    padding-top: 0.25rem;
  }

  .navbar .LoginButton {
    right: 1rem;
  }

  .navbar .SignUpButton {
    right: 3rem;
  }

  .intro {
    height: 38rem;
  }

  .intro h1 {
    top: 6.5rem;
    left: 7.75rem;
    width: 50vw;
    line-height: 3.75rem;
    font-size: 2.8rem;
  }

  .intro h2 {
    top: 8rem;
    left: 7.75rem;
    width: 60vw;
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .intro button,
  .intro button:hover {
    top: 15rem;
    height: 4rem;
    border-radius: 20px;
    font-size: 1rem;
  }

  .intro button:nth-child(3) {
    width: 13rem;
    top: 11rem;
    left: 7.75rem;
  }

  .intro .secondBr {
    display: none;
  }

  .intro .FirstIllustration {
    width: 40vw;
    top: 2rem;
    right: 7rem;
    pointer-events: none;
  }

  .intro .WatchNowButton {
    width: 12rem;
    top: 11rem;
    left: 11rem;
    pointer-events: visible;
    cursor: pointer !important;
  }

  .services {
    height: 44rem;
  }

  .services .container .row:nth-child(1) {
    padding-top: 4.5rem;
  }

  .services img {
    width: 9.5rem;
  }

  .services h6 {
    padding-top: 1.5rem;
    font-size: 0.8rem;
    line-height: 1.6rem;
  }

  .services .container .row:nth-child(2) {
    height: 20rem;
  }

  .services .Logo {
    top: 8.5rem;
    left: 3rem;
    width: 11rem;
  }

  .services h2 {
    top: 10.5rem;
    right: -5rem;
    font-size: 1.5rem;
    width: 25rem;
    line-height: 2rem;
  }

  .services p {
    top: 10.25rem;
    left: 10rem;
    width: 24rem;
  }

  .process .container {
    min-width: 100%;
  }

  .process .imgBox {
    min-height: 33rem;
  }

  .process .SeconIllustration {
    top: 1rem;
    margin-left: 5.5rem;
    width: 40rem;
  }

  .process .h1Box {
    height: 9.5rem;
  }

  .process h1 {
    right: -1rem;
    width: 38rem;
    font-size: 1.75rem;
  }

  .process h2 {
    right: -1rem;
    width: 38rem;
    top: 4rem;
    font-size: 1.1rem;
  }

  .process .row:nth-child(2),
  .process .row:nth-child(3),
  .process .row:nth-child(4) {
    height: 8rem;
  }

  .process .icon {
    margin-top: 0.5rem;
    right: 32rem;
    width: 6.5rem;
  }

  .process h3 {
    right: 9rem;
    width: 23rem;
    font-size: 1rem;
  }

  .process .row:nth-child(1) p {
    right: 11rem;
    margin-top: 2rem;
    width: 21rem;
    font-size: 0.8rem;
    line-height: 1.5;
  }

  .process .contactUs p {
    font-size: 0.8rem;
  }

  .process .contactUs p br {
    display: none;
  }

  .pricing .h1Box {
    margin-top: 6rem;
    height: 3rem;
  }

  .pricing .h1Box h1 {
    left: 1rem;
    font-size: 2.25rem;
  }

  .pricing .container .row:nth-child(2) .col-lg:nth-child(1) {
    margin-top: 1.75rem;
    height: 3rem;
  }

  .pricing .container .row:nth-child(2) .col-lg:nth-child(1) p {
    text-align: justify;
  }

  .pricing .container .row:nth-child(2) .col-lg:nth-child(2) {
    margin-top: 1.2rem;
    height: 3rem;
  }

  .pricing
    .container
    .row:nth-child(2)
    .col-lg:nth-child(2)
    button:nth-child(1) {
    position: absolute;
    top: 0.25rem;
    left: 7.5rem;
    width: 7.5rem;
    font-size: 0.85rem;
  }

  .pricing
    .container
    .row:nth-child(2)
    .col-lg:nth-child(2)
    button:nth-child(2) {
    position: absolute;
    top: 0.25rem;
    left: 17.5rem;
    width: 7.5rem;
    font-size: 0.85rem;
  }

  .pricing .card {
    margin-top: 8rem;
    margin-bottom: 1rem;
    height: 30rem;
  }

  .pricing .card h1 {
    top: 2.75rem;
    left: 2rem;
    font-size: 1.25rem;
  }

  .pricing .card span {
    font-size: 2rem;
  }

  .pricing .card h2 {
    top: 7.5rem;
    left: 2rem;
    font-size: 1.6rem;
  }

  .pricing .card p {
    top: 13rem;
    left: 2rem;
    width: 10rem;
    text-align: justify;
    font-size: 1.1rem;
  }

  .pricing .card .checkBox {
    float: left;
    top: 13.75rem;
    left: 0.75rem;
    margin-top: 1.25rem;
    font-size: 0.9rem;
  }

  .pricing .card .checkBox img {
    width: 1.3rem;
  }

  .banner {
    margin-top: 5rem;
    margin-bottom: 4rem;
  }

  .banner .box {
    height: 18rem;
  }

  .banner h2 {
    top: 6.5rem;
    left: 6.5rem;
    width: 28rem;
    font-size: 1.8rem;
  }

  .banner h3 {
    top: 7rem;
    font-size: 1rem;
    left: 6.5rem;
  }

  .banner .AdobeStockIcon,
  .banner .ShutterStockIcon {
    top: 6.75rem;
    left: 5rem;
    width: 15rem;
  }

  .banner .ShutterStockIcon {
    top: 7rem;
    left: 0rem;
  }

  .footer {
    height: 20rem;
  }

  .footer .Logo {
    float: left;
    width: 11rem;
    margin-left: 6rem;
    margin-top: 5rem;
  }

  .footer p {
    font-size: 1.1rem;
  }

  .footer .description {
    float: left;
    text-align: left;
    margin-left: 2rem;
    margin-top: 7rem;
  }

  .footer .policy {
    float: right;
    text-align: right;
    margin-left: 0rem;
    margin-top: 9.25rem;
    font-size: 1rem;
    font-family: Spartan-Semi-Bold;
  }

  .footer .SocialMedia img {
    float: left;
    width: 4rem;
    margin-left: 1.5rem;
    margin-top: 6.5rem;
  }
}
